.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    input {
      border: none;
      outline: none;
      width: 220px;
      height: 50px;
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: 700;
      &::placeholder {
        color: #747d8c;
        font-weight: 700;
        font-size: 17px;
      }

      &:last-child {
        font-size: 17px;
        font-weight: 700;

        color: #747d8c;
      }
    }
  }
}
