.acceptMessage {
  @keyframes receive {
    0% {
      background-color: #1e272e;
      transform: scale(1.025, 1.025);
    }
    100% {
      //transform: rotateY(360deg);
      transform: scale(1, 1);
      background-color: white;
    }
  }
  animation: receive 1s linear;
}

.roomGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  gap: 10px;
  .roomsOutWrapper {
    @extend %changeBtn;

    @keyframes spin {
      0% {
        transform: rotateY(0deg);
      }
      50% {
        transform: rotateY(180deg);
      }
      100% {
        transform: rotateY(360deg);
      }
    }

    &:hover {
      animation: spin 1s linear;
    }
  }

  .changeRoomDesignBtn {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translate(-50%);
    width: 70px;

    height: 70px;
    i {
      &:hover {
        transform: scale(1.1, 1.1);
      }
      transition: all 0.1s linear;
      font-size: 70px;
    }
  }

  .controllBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 400px;
    .changeLeftBtn {
      font-size: 60px;
      display: none;
    }
    .changeRightBtn {
      font-size: 60px;
      display: none;
    }
  }
}

.pressChangeBtn {
  @extend %changeBtn;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
