.userBlock {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfe6e9;
  padding: 10px;
  a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .userAvatar {
      width: 55px;
      text-align: center;
      color: black;
      .userPicture {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 4px;
      }
      .userImage {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #70a1ff;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 40px;
        }
        margin-bottom: 5px;
      }
      .userName {
        font-weight: 400;
      }
    }
    .userMessage {
      color: black;
      padding: 10px;
      border-radius: 10px;
      border-top-left-radius: 0px;
      background-color: #f1c40f;
      color: black;
      font-weight: 600;
    }
  }
}

.useresWrapper {
  background-color: white;
  max-width: 600px;
  border-radius: 20px;
  height: 85vh;
  overflow: auto;
  margin: 0 auto;
}
