extends layouts/main

block content
    .chatRoom
        ul.comments
            if(loggedUser && messages.length !==0)
                each message in messages
                    li=message.message

    .chatFormWrapper
        form.chatForm(action=`/user/chat/${room.id}` method="post")
            input.input(type="text", name="comment")
            input(type="submit",value="Submit")        
