extends layouts/main
include mixins/user

block content
    .formContainer
        form(action="/search")
            input(type="email" placeholder="Searching By E-mail" name="term")
        
    .search__users
        if findUsers
            each user in findUsers
                +userBlock({
                    id:user.id,
                    name:user.name,
                    message:user.message
                })
        else
            h3 Cant not find friend
