extends layouts/main
include mixins/user

block content
    .useresWrapper
        .useresDesignWrapper
            if friends.length
                each friend in friends
                    +userBlock({
                            id:friend.id,
                            name:friend.name,
                            message:friend.message,
                            avatarUrl:friend.avatarUrl
                        })
        .sliderLeftBtn
            <i class="fas fa-angle-left"></i>
        .sliderRightBtn
            <i class="fas fa-angle-right"></i>
