extends layouts/main

block content
    if rooms.length
        each room in rooms
            .roomContainer
                .roomImage=room.backbroundImg
                span.roomTitle=room.title
                span.roomMember=room.peoples.length