extends layouts/main
include mixins/user

block content
    .formContainer
        form(action="/search" method="post")
            input(type="email" placeholder="Searching By E-mail" name="term")
        
    .search__users
        if (findUsers && findUsers.length !== 0)
            each user in findUsers
                .userWrapper
                    +userBlock({
                        id:user.id,
                        name:user.name,
                        avatarUrl:user.avatarUrl,
                        message:user.message
                    })
                    if !isFriend
                        span.friendPlus  
                            <i class="fas fa-plus"></i>   
        else if (findUsers && findUsers.length === 0)
            h3(style="color:white; font-size:40px; text-align:center; margin-top:20px;") Can't not find friend
