mixin userBlock(user={})
    .userBlock
        a(href=`/user/${user.id}/profile`)
            .userAvatar
                if user.avatarUrl
                    img.userPicture(src=user.avatarUrl)
                else
                    .userImage
                        <i class="fas fa-user-alt"></i>
                .userName=user.name
            if(user.message)    
                .userMessage=user.message
    
