mixin userBlock(user={})
    .userBlock
        a(href=`/user/${user.id}/profile`)
            .userAvatar
                if user.avatarUrl
                    img.userPicture(src=user.avatarUrl)
                else
                    .userImage
                        <i class="fas fa-user-secret"></i>
                .userName=user.name
            .userMessage=user.message