footer.footer
    .footer__nav
        ul
            li.home
                a(href="/")
                    <i class="fas fa-home"></i>
            li.friends
                a(href=`/user/${loggedUser.id}`)
                    <i class="fas fa-users"></i>
            li.chatRooms
                a(href=`/user/${loggedUser.id}/chat`)
                    <i class="far fa-comments"></i>
            li.chatBoard
                a(href="/board?page=1")
                    <i class="fas fa-chalkboard-teacher"></i>
            li.search
                a(href="/search")
                    <i class="fas fa-search"></i>