.BoardWrapper {
  width: 100%;
  max-width: 1fr;
  margin: 0 auto;
  margin-top: 30px;
  height: 80vh;
  background-color: white;
  position: relative;
  padding-left: 50px;
  .BoardBackImage {
    opacity: 0.7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    height: 500px;
    background-image: url("https://wewechat.s3-ap-northeast-1.amazonaws.com/images/%EC%9A%B0%EC%A3%BC%EB%B0%B0%EA%B2%BD.png");
    background-size: cover;
    background-position: center center;
  }
  .BoardImage {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 300px;
    height: 300px;

    background-image: url("https://wewechat.s3-ap-northeast-1.amazonaws.com/images/%EC%9A%B0%EC%A3%BC%EB%B9%84%ED%96%89%EC%82%AC.png");
    background-size: cover;
    background-position: center center;
    @keyframes boardSpin {
      0% {
      }
      100% {
        transform: rotate(360deg);
      }
    }
    animation: boardSpin 15s linear infinite;
  }
  ul.BoardItems {
    position: absolute;
    top: 60px;

    li {
      width: 100%;
      margin-bottom: 10px;
      a {
        color: black;
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 5fr 1fr;

        width: 100%;

        .postCreator {
          justify-self: center;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 5px;
          }
          .creatorIcon {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            background-color: #ffeaa7;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            i {
              font-size: 35px;
            }
          }
          .creatorName {
            width: 100%;
            text-align: center;
            color: black;
          }
        }
        .postTitle {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          padding: 5px;
          width: 100%;
          height: 50px;
          border: 2px solid #f1c40f;
          border-radius: 20px;
        }
        .postTime {
          font-size: 15px;
          align-self: center;
        }
      }
    }
  }

  ul.postNumber {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    li.nowPage.strongPage {
      a {
        color: #f1c40f;
      }
    }
    li {
      a {
        color: black;
      }
    }
    a {
      color: black;
      i {
        font-size: 40px;
      }
    }
  }
}
