.chatRoom {
  width: 100%;
  max-width: 600px;
  height: 80vh;

  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  border: 3px solid #eab543;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;

  .notMyMessage,
  .InputNotMyMessage {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .message__profile,
    .NotMymessageProfile {
      text-align: center;
      .message__image,
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 5px;
      }
      .message__icon,
      .iconWrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #575fcf;
        i {
          font-size: 30px;
          color: black;
        }
      }
      .message__name,
      .messageName {
        font-size: 15px;
        color: white;
      }
    }
    .message__content,
    .messageContent {
      background-color: white;
      padding: 5px;
      border-radius: 10px;
      border-top-left-radius: 0px;
      margin-left: 5px;
    }
  }
  .MyMessage,
  .InputMyMessage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .Mymessage__content {
      background-color: white;
      padding: 5px;
      border-radius: 10px;
      border-top-right-radius: 0px;
    }
  }
  .notification,
  .messageAlarm {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
}
.chatFormWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  form {
    width: 90%;
    max-width: 600px;
    input {
      border: none;
      outline: none;
      height: 40px;
      font-size: 17px;

      &:nth-child(1) {
        width: 80%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:nth-child(2) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}
.chatFriendsPlus,
.chatOut {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #eab543;
  i {
    font-size: 50px;
  }
}
.chatOut {
  top: 80px;
  right: 15px;
  i {
    font-size: 45px;
    margin-bottom: 5px;
  }
}

.modalAnimation {
  @keyframes modal {
    0% {
      top: 0;
      right: 0;
      width: 0px;
      height: 0px;
      transform: translate(50%, -50%);
      opacity: 0;
    }
    50% {
      top: 25%;
      right: 25%;
      width: 250px;
      height: 250px;
      transform: translate(50%, -50%);
    }
    100% {
      top: 50%;
      right: 50%;
      width: 500px;
      height: 500px;
      transform: translate(50%, -50%);
      opacity: 1;
    }
  }
  animation: modal 0.5s linear forwards;
}

.modalCloseAnimation {
  @keyframes modalClose {
    0% {
      top: 50%;
      right: 50%;
      width: 500px;
      height: 500px;
      transform: translate(50%, -50%);
    }
    100% {
      top: 0;
      right: 0;
      width: 0px;
      height: 0px;
      opacity: 0;
      //transform: translate(-50%, -50%);
      //
    }
  }
  animation: modalClose 0.5s linear forwards;
}

.inputModal {
  @keyframes inputModal {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 220px;
      height: 50px;
    }
  }
  animation: inputModal 0.5s linear forwards;
}

.inputCloseModal {
  @keyframes inputCloseModal {
    0% {
      width: 220px;
      height: 50px;
    }
    100% {
      width: 0px;
      height: 0px;
    }
  }
  animation: inputCloseModal 0.5s linear forwards;
}

.chatUsers {
  width: 100%;

  display: grid;
  padding: 5px;
  grid-template-columns: 1.5fr 6fr;
  border-bottom: 1px solid #ecf0f1;
  align-items: center;
  .chatUsers__title {
    width: 100px;
    font-weight: 600;
  }
  ul.chatUsers__users {
    width: 100%;
    height: 85px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow: auto;
    align-items: center;
    justify-items: center;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2f3542;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent;
    }
    li {
      margin-right: 5px;
      .chatAddFriend {
        text-align: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .icon {
          background-color: #575fcf;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 33px;
            color: black;
            padding: 5px;
          }
        }
      }
    }
  }
}

.chatFriendsForm {
  display: none;
  position: absolute;
  background-color: white;
  ul.plusFriends {
    width: 100%;
    text-align: center;
    font-weight: 600;
    li {
      width: 100%;

      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chatAddFriend {
        text-align: center;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .icon {
          background-color: #ffa502;
          border-radius: 50%;
          margin-bottom: 5px;
          padding: 5px;
          i {
            font-size: 30px;
            color: black;
            padding: 5px;
          }
        }
      }
      i.chatAddBtn {
        font-size: 30px;
      }
    }
  }

  .closeBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid black;
    background-color: #ecf0f1;
    font-weight: 600;
    width: 60px;
    padding: 5px;
    cursor: pointer;
  }
}
