.formContainer {
  label {
    background-color: #f1c40f;
    padding: 5px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  input[type="file"] {
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    &::-webkit-file-upload-button {
      margin-top: 10px;
      color: black;
      font-weight: 600;
      border: none;
      background-color: #dfe6e9;
      border-radius: 5px;
      outline: none;
    }
  }
}
