.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: white;
  h1 {
    margin-right: 5px;
  }
}

.where {
  .loginButton,
  .logoutButton {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 200px;
      height: 50px;
      background-color: #12cbc4;
      border: none;
      outline: none;
      a {
        color: white;
        font-size: 20px;
      }
      &:nth-child(1) {
        margin-bottom: 5px;
      }
    }
  }

  .homeProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    .userPicture {
      width: 105px;
      height: 105px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .homeImage {
      font-size: 80px;
      width: 105px;
      height: 105px;
      background-color: #70a1ff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    .homeName {
      color: white;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
