html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: white; }
  .title h1 {
    margin-right: 5px; }

.where .loginButton,
.where .logoutButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .where .loginButton button,
  .where .logoutButton button {
    width: 200px;
    height: 50px;
    background-color: #f1c40f;
    border: none;
    outline: none; }
    .where .loginButton button a,
    .where .logoutButton button a {
      color: white;
      font-size: 20px; }
    .where .loginButton button:nth-child(1),
    .where .logoutButton button:nth-child(1) {
      margin-bottom: 5px; }

.where .homeProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; }
  .where .homeProfile .userPicture {
    width: 105px;
    height: 105px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px; }
  .where .homeProfile .homeImage {
    font-size: 75px;
    width: 105px;
    height: 105px;
    background-color: #70a1ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; }
  .where .homeProfile .homeName {
    color: white;
    font-size: 20px;
    margin-bottom: 20px; }

.profileWrapper {
  width: 100%;
  max-width: 500px;
  height: 80vh;
  position: relative;
  margin: 0 auto;
  background-color: white; }
  .profileWrapper .backgroundWrapper {
    width: 100%;
    height: 50%; }
    .profileWrapper .backgroundWrapper img {
      width: 100%;
      height: 100%; }
  .profileWrapper .noBackground {
    width: 100%;
    height: 50%;
    background-color: #ced6e0; }
  .profileWrapper .avatarWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }
  .profileWrapper .userImage,
  .profileWrapper .avatarWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #70a1ff;
    display: flex;
    justify-content: center;
    align-items: center; }
    .profileWrapper .userImage i,
    .profileWrapper .avatarWrapper i {
      font-size: 70px; }
  .profileWrapper .userName {
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center; }
  .profileWrapper .userMessage {
    text-align: center;
    font-size: 18px; }
  .profileWrapper .sendBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    border-radius: 20px;
    background-color: #ced6e0;
    text-align: center;
    color: black; }

.chatRoom {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  overflow: auto;
  border: 3px solid #eab543;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px; }
  .chatRoom::-webkit-scrollbar {
    display: none; }
  .chatRoom .notMyMessage,
  .chatRoom .InputNotMyMessage {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .chatRoom .notMyMessage .message__profile,
    .chatRoom .notMyMessage .NotMymessageProfile,
    .chatRoom .InputNotMyMessage .message__profile,
    .chatRoom .InputNotMyMessage .NotMymessageProfile {
      text-align: center; }
      .chatRoom .notMyMessage .message__profile .message__image,
      .chatRoom .notMyMessage .message__profile img,
      .chatRoom .notMyMessage .NotMymessageProfile .message__image,
      .chatRoom .notMyMessage .NotMymessageProfile img,
      .chatRoom .InputNotMyMessage .message__profile .message__image,
      .chatRoom .InputNotMyMessage .message__profile img,
      .chatRoom .InputNotMyMessage .NotMymessageProfile .message__image,
      .chatRoom .InputNotMyMessage .NotMymessageProfile img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 5px; }
      .chatRoom .notMyMessage .message__profile .message__icon,
      .chatRoom .notMyMessage .message__profile .iconWrapper,
      .chatRoom .notMyMessage .NotMymessageProfile .message__icon,
      .chatRoom .notMyMessage .NotMymessageProfile .iconWrapper,
      .chatRoom .InputNotMyMessage .message__profile .message__icon,
      .chatRoom .InputNotMyMessage .message__profile .iconWrapper,
      .chatRoom .InputNotMyMessage .NotMymessageProfile .message__icon,
      .chatRoom .InputNotMyMessage .NotMymessageProfile .iconWrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #575fcf; }
        .chatRoom .notMyMessage .message__profile .message__icon i,
        .chatRoom .notMyMessage .message__profile .iconWrapper i,
        .chatRoom .notMyMessage .NotMymessageProfile .message__icon i,
        .chatRoom .notMyMessage .NotMymessageProfile .iconWrapper i,
        .chatRoom .InputNotMyMessage .message__profile .message__icon i,
        .chatRoom .InputNotMyMessage .message__profile .iconWrapper i,
        .chatRoom .InputNotMyMessage .NotMymessageProfile .message__icon i,
        .chatRoom .InputNotMyMessage .NotMymessageProfile .iconWrapper i {
          font-size: 30px;
          color: black; }
      .chatRoom .notMyMessage .message__profile .message__name,
      .chatRoom .notMyMessage .message__profile .messageName,
      .chatRoom .notMyMessage .NotMymessageProfile .message__name,
      .chatRoom .notMyMessage .NotMymessageProfile .messageName,
      .chatRoom .InputNotMyMessage .message__profile .message__name,
      .chatRoom .InputNotMyMessage .message__profile .messageName,
      .chatRoom .InputNotMyMessage .NotMymessageProfile .message__name,
      .chatRoom .InputNotMyMessage .NotMymessageProfile .messageName {
        font-size: 15px;
        color: white; }
    .chatRoom .notMyMessage .message__content,
    .chatRoom .notMyMessage .messageContent,
    .chatRoom .InputNotMyMessage .message__content,
    .chatRoom .InputNotMyMessage .messageContent {
      background-color: white;
      padding: 5px;
      border-radius: 10px;
      border-top-left-radius: 0px;
      margin-left: 5px; }
  .chatRoom .MyMessage,
  .chatRoom .InputMyMessage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; }
    .chatRoom .MyMessage .Mymessage__content,
    .chatRoom .InputMyMessage .Mymessage__content {
      background-color: white;
      padding: 5px;
      border-radius: 10px;
      border-top-right-radius: 0px; }
  .chatRoom .notification,
  .chatRoom .messageAlarm {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5px; }

.chatFormWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center; }
  .chatFormWrapper form {
    width: 90%;
    max-width: 600px; }
    .chatFormWrapper form input {
      border: none;
      outline: none;
      height: 40px;
      font-size: 17px; }
      .chatFormWrapper form input:nth-child(1) {
        width: 80%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
      .chatFormWrapper form input:nth-child(2) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }

.chatFriendsPlus {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #eab543; }
  .chatFriendsPlus i {
    font-size: 50px; }

.modalAnimation {
  animation: modal 0.5s linear forwards; }

@keyframes modal {
  0% {
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    transform: translate(50%, -50%);
    opacity: 0; }
  50% {
    top: 25%;
    right: 25%;
    width: 250px;
    height: 250px;
    transform: translate(50%, -50%); }
  100% {
    top: 50%;
    right: 50%;
    width: 500px;
    height: 500px;
    transform: translate(50%, -50%);
    opacity: 1; } }

.modalCloseAnimation {
  animation: modalClose 0.5s linear forwards; }

@keyframes modalClose {
  0% {
    top: 50%;
    right: 50%;
    width: 500px;
    height: 500px;
    transform: translate(50%, -50%); }
  100% {
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    opacity: 0; } }

.inputModal {
  animation: inputModal 0.5s linear forwards; }

@keyframes inputModal {
  0% {
    width: 0px;
    height: 0px; }
  100% {
    width: 220px;
    height: 50px; } }

.inputCloseModal {
  animation: inputCloseModal 0.5s linear forwards; }

@keyframes inputCloseModal {
  0% {
    width: 220px;
    height: 50px; }
  100% {
    width: 0px;
    height: 0px; } }

.chatUsers {
  width: 100%;
  display: grid;
  padding: 5px;
  grid-template-columns: 1.5fr 6fr;
  border-bottom: 1px solid #ecf0f1;
  align-items: center; }
  .chatUsers .chatUsers__title {
    width: 100px;
    font-weight: 600; }
  .chatUsers ul.chatUsers__users {
    width: 100%;
    height: 85px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow: auto;
    align-items: center;
    justify-items: center; }
    .chatUsers ul.chatUsers__users::-webkit-scrollbar {
      width: 10px; }
    .chatUsers ul.chatUsers__users::-webkit-scrollbar-track {
      background-color: grey;
      border-radius: 10px;
      box-shadow: inset 0px 0px 5px white; }
    .chatUsers ul.chatUsers__users::-webkit-scrollbar-thumb {
      background-color: #2f3542;
      border-radius: 10px;
      background-clip: padding-box;
      border: 2px solid transparent; }
    .chatUsers ul.chatUsers__users li {
      margin-right: 5px; }
      .chatUsers ul.chatUsers__users li .chatAddFriend {
        text-align: center; }
        .chatUsers ul.chatUsers__users li .chatAddFriend img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover; }
        .chatUsers ul.chatUsers__users li .chatAddFriend .icon {
          background-color: #575fcf;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .chatUsers ul.chatUsers__users li .chatAddFriend .icon i {
            font-size: 33px;
            color: black;
            padding: 5px; }

.chatFriendsForm {
  display: none;
  position: absolute;
  background-color: white; }
  .chatFriendsForm ul.plusFriends {
    width: 100%;
    text-align: center;
    font-weight: 600; }
    .chatFriendsForm ul.plusFriends li {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .chatFriendsForm ul.plusFriends li .chatAddFriend {
        text-align: center; }
        .chatFriendsForm ul.plusFriends li .chatAddFriend img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover; }
        .chatFriendsForm ul.plusFriends li .chatAddFriend .icon {
          background-color: #ffa502;
          border-radius: 50%;
          margin-bottom: 5px;
          padding: 5px; }
          .chatFriendsForm ul.plusFriends li .chatAddFriend .icon i {
            font-size: 30px;
            color: black;
            padding: 5px; }
      .chatFriendsForm ul.plusFriends li i.chatAddBtn {
        font-size: 30px; }
  .chatFriendsForm .closeBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid black;
    background-color: #ecf0f1;
    font-weight: 600;
    width: 60px;
    padding: 5px;
    cursor: pointer; }

.formContainer label.editLabel {
  background-color: #f1c40f;
  padding: 5px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.formContainer input[type="file"] {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .formContainer input[type="file"]::-webkit-file-upload-button {
    margin-top: 10px;
    color: black;
    font-weight: 600;
    border: none;
    background-color: #dfe6e9;
    border-radius: 5px;
    outline: none; }

.formContainer {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%; }
  .formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .formContainer form label.roomBackground {
      color: white;
      font-size: 20px;
      margin-bottom: 5px; }
    .formContainer form input {
      border: none;
      outline: none;
      width: 220px;
      height: 50px;
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: 700; }
      .formContainer form input::placeholder {
        color: #747d8c;
        font-weight: 700;
        font-size: 17px; }
      .formContainer form input:last-child {
        font-size: 17px;
        font-weight: 700;
        color: #747d8c; }
  .formContainer .friendList {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: auto; }
    .formContainer .friendList::-webkit-scrollbar {
      display: none; }
    .formContainer .friendList .alarm {
      font-size: 20px;
      text-align: center;
      margin-top: 50px;
      line-height: 1.5;
      color: red; }
    .formContainer .friendList .friendList__title {
      font-size: 25px;
      width: 100%;
      text-align: center;
      margin-bottom: 10px; }
    .formContainer .friendList .friendListWrapper {
      width: 100%;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .formContainer .friendList .friendListWrapper .friendList__profile {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #70a1ff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .formContainer .friendList .friendListWrapper .friendList__profile img {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          opacity: 0.5;
          object-fit: cover; }
        .formContainer .friendList .friendListWrapper .friendList__profile i {
          font-size: 30px; }
        .formContainer .friendList .friendListWrapper .friendList__profile .friendList__name {
          margin-top: 5px;
          font-size: 15px;
          font-weight: 600;
          z-index: 2; }
      .formContainer .friendList .friendListWrapper input[type="checkbox"] {
        display: none; }
      .formContainer .friendList .friendListWrapper input[type="checkbox"] + label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid black; }
      .formContainer .friendList .friendListWrapper input[type="checkbox"]:checked + label {
        background-color: #f1c40f; }

.footer {
  position: fixed;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }
  .footer .footer__nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    background-color: #f1c40f;
    padding: 10px;
    border-radius: 20px; }

.userBlock {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfe6e9;
  padding: 10px; }
  .userBlock a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; }
    .userBlock a .userAvatar {
      width: 55px;
      text-align: center;
      color: black; }
      .userBlock a .userAvatar .userPicture {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 4px; }
      .userBlock a .userAvatar .userImage {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #70a1ff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px; }
        .userBlock a .userAvatar .userImage i {
          font-size: 40px; }
      .userBlock a .userAvatar .userName {
        font-weight: 400; }
    .userBlock a .userMessage {
      color: black;
      padding: 10px;
      border-radius: 10px;
      border-top-left-radius: 0px;
      background-color: #f1c40f;
      color: black;
      font-weight: 600; }

.useresWrapper {
  background-color: white;
  max-width: 600px;
  border-radius: 20px;
  height: 85vh;
  overflow: auto;
  margin: 0 auto; }
  .useresWrapper::-webkit-scrollbar {
    width: 15px; }
  .useresWrapper::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white; }
  .useresWrapper::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent; }

.search__users {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__users .userWrapper {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative; }
    .search__users .userWrapper .userBlock {
      border: none; }
      .search__users .userWrapper .userBlock .userAvatar .userPicture {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7; }
      .search__users .userWrapper .userBlock .userAvatar .userImage {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        display: flex;
        align-items: flex-start; }
        .search__users .userWrapper .userBlock .userAvatar .userImage i {
          margin-top: 20px;
          font-size: 100px; }
      .search__users .userWrapper .userBlock .userAvatar .userName {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 30px;
        font-weight: 600; }
      .search__users .userWrapper .userBlock .userMessage {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 10px; }

.acceptMessage {
  z-index: 9;
  animation: receive 1s linear; }

@keyframes receive {
  0% {
    z-index: 10000;
    background-color: #1e272e;
    transform: translate(-50%, -50%), scale(1.025, 1.025); }
  100% {
    z-index: 10000;
    transform: translate(-50%, -50%), scale(1, 1);
    background-color: white; } }

.roomGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px; }
  .roomGridWrapper .roomsOutWrapper .newRoomContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: black;
    font-weight: 600; }
    .roomGridWrapper .roomsOutWrapper .newRoomContainer img {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      opacity: 0.5; }
    .roomGridWrapper .roomsOutWrapper .newRoomContainer .roomTitle {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%); }
    .roomGridWrapper .roomsOutWrapper .newRoomContainer .showMessage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      background-color: #f1c40f;
      border-radius: 10px;
      border-top-right-radius: 0px; }
    .roomGridWrapper .roomsOutWrapper .newRoomContainer .roomMember {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%); }

@keyframes spin {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(360deg); } }
  .roomGridWrapper .roomsOutWrapper:hover {
    animation: spin 1s linear; }
  .roomGridWrapper .changeRoomDesignBtn {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translate(-50%);
    width: 70px;
    height: 70px; }
    .roomGridWrapper .changeRoomDesignBtn i {
      transition: all 0.1s linear;
      font-size: 70px; }
      .roomGridWrapper .changeRoomDesignBtn i:hover {
        transform: scale(1.1, 1.1); }
  .roomGridWrapper .makeRoomBtn {
    position: absolute;
    right: 0;
    top: 100px;
    transform: translate(-50%);
    width: 70px;
    height: 70px; }
    .roomGridWrapper .makeRoomBtn i {
      color: black;
      transition: all 0.1s linear;
      font-size: 70px; }
      .roomGridWrapper .makeRoomBtn i:hover {
        transform: scale(1.1, 1.1); }
  .roomGridWrapper .controllBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 50px; }
    .roomGridWrapper .controllBtn i {
      color: white; }
    .roomGridWrapper .controllBtn .changeLeftBtn {
      font-size: 60px;
      display: none; }
    .roomGridWrapper .controllBtn .changeRightBtn {
      font-size: 60px;
      display: none; }
    .roomGridWrapper .controllBtn .changeShowLeftBtn {
      font-size: 60px;
      display: block; }
    .roomGridWrapper .controllBtn .changeShowRightBtn {
      font-size: 60px;
      display: block; }

.pressChangeBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0; }
  .pressChangeBtn .newRoomContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: black;
    font-weight: 600; }
    .pressChangeBtn .newRoomContainer img {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      opacity: 0.5; }
    .pressChangeBtn .newRoomContainer .roomTitle {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px; }
    .pressChangeBtn .newRoomContainer .showMessage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      background-color: #f1c40f;
      border-radius: 10px;
      border-top-right-radius: 0px; }
    .pressChangeBtn .newRoomContainer .roomMember {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%); }

.slideAnimation {
  animation: slider 0.3s linear; }

@keyframes slider {
  0% {
    opacity: 0;
    width: 100px;
    height: 100px;
    background-color: black; }
  100% {
    opacity: 1;
    width: 300px;
    height: 300px;
    background-color: white; } }

.roomGridWrapper .roomsOutWrapper, .pressChangeBtn {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
  overflow: auto;
  perspective: 500px;
  transform-style: preserve-3d; }
  .roomGridWrapper .roomsOutWrapper::-webkit-scrollbar, .pressChangeBtn::-webkit-scrollbar {
    display: none; }
  .roomGridWrapper .roomsOutWrapper .roomContainer, .pressChangeBtn .roomContainer {
    position: relative;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 5px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: black; }
    .roomGridWrapper .roomsOutWrapper .roomContainer .roomWrapper, .pressChangeBtn .roomContainer .roomWrapper {
      text-align: center;
      display: flex;
      pointer-events: none; }
      .roomGridWrapper .roomsOutWrapper .roomContainer .roomWrapper .roomBasicImage, .pressChangeBtn .roomContainer .roomWrapper .roomBasicImage {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px; }
        .roomGridWrapper .roomsOutWrapper .roomContainer .roomWrapper .roomBasicImage img, .pressChangeBtn .roomContainer .roomWrapper .roomBasicImage img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover; }
        .roomGridWrapper .roomsOutWrapper .roomContainer .roomWrapper .roomBasicImage i, .pressChangeBtn .roomContainer .roomWrapper .roomBasicImage i {
          font-size: 40px;
          color: #1b9cfc; }
    .roomGridWrapper .roomsOutWrapper .roomContainer .showMessage, .pressChangeBtn .roomContainer .showMessage {
      pointer-events: none;
      position: absolute;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
      font-size: 14px;
      opacity: 0.7; }
  .roomGridWrapper .roomsOutWrapper .roomImages__profiles, .pressChangeBtn .roomImages__profiles {
    width: 100%;
    position: absolute;
    pointer-events: none;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center; }
    .roomGridWrapper .roomsOutWrapper .roomImages__profiles img, .pressChangeBtn .roomImages__profiles img {
      width: 70%;
      height: 70%;
      border-radius: 30%;
      object-fit: cover; }
    .roomGridWrapper .roomsOutWrapper .roomImages__profiles .profiles__icon, .pressChangeBtn .roomImages__profiles .profiles__icon {
      width: 70%;
      height: 70%;
      border-radius: 30%;
      background-color: #f1c40f;
      display: flex;
      justify-content: center;
      align-items: center; }
      .roomGridWrapper .roomsOutWrapper .roomImages__profiles .profiles__icon i, .pressChangeBtn .roomImages__profiles .profiles__icon i {
        font-size: 30px; }
  .roomGridWrapper .roomsOutWrapper .roomImages, .pressChangeBtn .roomImages {
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .roomGridWrapper .roomsOutWrapper .roomImages .showMessage, .pressChangeBtn .roomImages .showMessage {
      display: block;
      opacity: 0.7;
      color: black;
      text-align: center; }
    .roomGridWrapper .roomsOutWrapper .roomImages .roomMember, .pressChangeBtn .roomImages .roomMember {
      color: black;
      font-size: 13px;
      margin-top: 5px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px;
  background-color: #10254d;
  background-image: url("/uploads/images/stardust.png"); }
  body::-webkit-scrollbar {
    display: none; }

* {
  box-sizing: border-box; }

a {
  text-decoration-line: none;
  color: white; }

.gotoHome {
  font-size: 20px;
  font-weight: 700; }

.userWrapper {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5px; }
  .userWrapper .friendPlus {
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-50%);
    font-size: 50px;
    color: white; }
